<!DOCTYPE HTML>
<meta charset="utf-8">

<head>
    <title>static</title>
    <link rel="apple-touch-icon-precomposed" href="../../assets/favicon/apple-touch-icon-precomposed.png">
    <link rel="icon" href="../../assets/favicon/favicon.png">
    <link rel="stylesheet" href="../animation/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <main class="main">
        <div class="animation">
            <div class="container">
                <h1 class="blink">Новинка</h1>

                <div class="coin coin-animation">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>


                <div class="collapse">
                    <button  class="button button_primary">
                        Primary
                     </button>
                     <div class="collapse__container ">
                        heheheheheheheheheheheheheheheheheheh
                     </div>
                </div>

            </div>
        </div>
    </main>
</body>


<!-- "/assets/icons/handleAdd.svg" -->